<nav class="menu">
    <ul class="dropdown1">
        <li class="mini-menu"><a><i class="fa fa-bars"></i></a></li>
        <li class="mini-hide"><a href="/home">Home</a></li>
        <li class="mini-hide"><a href="/about">About</a></li>
        <li class="mini-hide"><a href="/plan">Plan</a></li>
        <li class="mini-hide"><a href="/trial">Trial</a></li>
        <li class="dropdown2 mini-hide"><a href="/media">Media</a>
            <ul>
                <li><a href="/media">Photo</a></li>
                <li><a href="/video">Video</a></li>
            </ul>
        </li>
        <li class="mini-hide"><a href="/contact">Contact</a></li>
    </ul>
</nav>