<div class="container">
    <section id="service_description">
        <img src="./materials/guests.jpg" alt="Theme picture" id="theme_picture">

        <h1>Our service</h1>
        <p>
            Specializing in the creation of exceptional events for private and corporate clients, we design, plan
            and manage every project from conception to execution.
        </p>
        <p>
            Our group of seasoned professionals understands that breakthrough ideas are only as good as the
            discipline supporting them. We believe that there is a sublime connection between the mastery of
            logistics and the creation of astonishment.
        </p>
        <p>
            Our events are completely customized, reflecting the brand personality of each client. Whether we
            act
            for a family, a product, a company or a cause, our work embraces experiences that integrate
            innovative
            design with the finest in wine and cocktails, dining, music, entertainment and—most important of
            all—that intangible element of surprise.
        </p>
        <p>
            Welcome to the art of event management!
        </p>

        <p id="theme_menu">
            <button id="change" class="button" >Theme 1</button>
            <button id="change" class="button" >Theme 2</button>
            <button id="change" class="button" >Theme 3</button>
        </p>

    </section>

    <section id="team-members">
        <h1>Our team</h1>
        <div class="members-description">
            <div class="profile"  id="profile1">
                <img src="./materials/blake-cheek-sQHbmNVqH0k-unsplash.jpg" alt="ceo-img">
                <div class="profile-container">
                    <p> Amanda Brown</p>
                    <p>Photo by Blake Cheek on Unsplash</p>
                    <button id="description1" class="button">About Amanda</button>
                    <!-- <a href="#" id="description1" class="button">About Amanda</a> -->
                </div>
            </div>
            <div class="profile" id="profile2">
                <img src="./materials/eric-torres-3rZcm_ojP8Y-unsplash.jpg" alt="assistant-img">
                <div class="profile-container">
                    <p> Morice Duffov</p>
                    <p>Photo by Eric Torres on Unsplash</p>
                    <button id="description2" class="button">About Morice</button>
                    <!-- <a href="#" id="description2" class="button">About Morice</a> -->
                </div>
            </div>
            <div class="profile" id="profile3">
                <img src="./materials/lucas-newton-A0M-ABJD8k0-unsplash.jpg" alt="developer-img">
                <div class="profile-container">
                    <p> Adelaine Kooper</p>
                    <p>Photo by Lucas Newton on Unsplash</p>
                    <button id="description3" class="button">About Adelaine</button>
                    <!-- <a href="#" id="description3" class="button">About Adelaine</a> -->
                </div>
            </div>
            <div class="profile" id="profile4" >
                <img src="./materials/anh-henry-nguyen-6Nn9TyNEiAs-unsplash.jpg" alt="manager-img">
                <div class="profile-container">
                    <p> Jennifer Fruh</p>
                    <p>Photo by Anh Henry Nguyen on Unsplash</p>
                    <button id="description4" class="button">About Jennifer</button>
                    <!-- <a href="#" id="description4" class="button">About Jennifer</a> -->
                </div>
            </div>
        </div>
    </section>

    <article class="video">
        <h1>Promovideo</h1>
        <p> Video by PenWeddings - Destination Wedding Videos & Films on Youtube</p>
        <div class="video_container">
            <iframe src="https://www.youtube.com/embed/Vh7vJTEpIiA"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </article>
</div>