<div class="container">
    <img id="contact_img" src="./materials/contact.jpg" alt="contact-img">
    <div class="animation">

    </div>

    <div class="contact_info">
        <h2>EvenOrg</h2>
        <p>Adress: Los Angeles, USA</p>
        <p>Phone: 202-555-0131</p>
        <p>E-mail: evenOrg@gnail.com</p>
    </div>
</div>