<div class="contact_form">
    <h2>Are you sure you want to logout?</h2>
    <aside>
        <form action="/logout" method="POST">
            <button id="submit" type="submit">Log out</button>
        </form>
    </aside>
</div>