<div class="container">
    <div class="row">
        <div class="column">
            <img src="./materials/banner3.jpg" alt="galery-img" style="width:90%">
            <img src="./materials/banner.jpg" alt="galery-img" style="width:90%">
            <img src="./materials/guests.jpg" alt="galery-img" style="width:90%">
            <img src="./materials/invitation.webp" alt="galery-img" style="width:90%">
        </div>
        <div class="column">
            <img src="./materials/service-description.jpg" alt="galery-img" style="width:90%">
            <img src="./materials/guests.jpg" alt="galery-img" style="width:90%">
            <img src="./materials/table_arrangement.jpg" alt="galery-img" style="width:90%">
            <img src="./materials/banner2.jpg" alt="galery-img" style="width:90%">
        </div>
        <div class="column">
            <img src="./materials/guests.jpg" alt="galery-img" style="width:90%">
            <img src="./materials/banner3.jpg" alt="galery-img" style="width:90%">
            <img src="./materials/invitation.webp" alt="galery-img" style="width:90%">
            <img src="./materials/calendar1.jpeg" alt="galery-img" style="width:90%">
        </div>
        <div class="column">
            <img src="./materials/banner.jpg" alt="galery-img" style="width:90%">
            <img src="./materials/service-description.jpg" alt="galery-img" style="width:90%">
            <img src="./materials/banner3.jpg" alt="galery-img" style="width:90%">
            <img src="./materials/guests.jpg" alt="galery-img" style="width:90%">
        </div>
    </div>
</div>