<div class="container">

    <div class="seatLegend">
        <h2>Legend:</h2>
        <div class="legendContainer">
            <div class="legend">
                <img src="./materials/label_available.png" alt="Available">
                <span class="label">Available</span>
            </div>
            <div class="legend">
                <img src="./materials/label_assigned.png" alt="assigned">
                <span class="label">Asigned</span>
            </div>
        </div>
    </div>


    <div class="box_wrapper">

        <div id="music_band">
            Music band
        </div>

        <div id="left_tables">
            <div class="table1">
                <div class="hidden-div">
                    1
                </div>
                <div class="sit" id="left_1_1">
                    1
                </div>
                <div class="sit" id="left_1_2">
                    2
                </div>
                <div class="hidden-div">
                    2
                </div>
                <div class="sit" id="left_1_8">
                    8
                </div>
                <div class="sit" id="left_1_3">
                    3
                </div>
                <div class="sit" id="left_1_7">
                    7
                </div>
                <div class="sit" id="left_1_4">
                    4
                </div>
                <div class="hidden-div">
                    3
                </div>
                <div class="sit" id="left_1_6">
                    6
                </div>
                <div class="sit" id="left_1_5">
                    5
                </div>
                <div class="hidden-div">
                    4
                </div>
                <div class="centered_table">

                </div>
            </div>
            <div class="table2">
                <div class="hidden-div">
                    1
                </div>
                <div class="sit" id="left_2_1">
                    1
                </div>
                <div class="sit" id="left_2_2">
                    2
                </div>
                <div class="hidden-div">
                    2
                </div>
                <div class="sit" id="left_2_8">
                    8
                </div>
                <div class="sit" id="left_2_3">
                    3
                </div>
                <div class="sit" id="left_2_7">
                    7
                </div>
                <div class="sit" id="left_2_4">
                    4
                </div>
                <div class="hidden-div">
                    3
                </div>
                <div class="sit" id="left_2_6">
                    6
                </div>
                <div class="sit" id="left_2_5">
                    5
                </div>
                <div class="hidden-div">
                    4
                </div>
                <div class="centered_table">

                </div>
            </div>
        </div>

        <div id="dance_floor">
            Dance floor
        </div>

        <div id="right_tables">
            <div class="table1">
                <div class="hidden-div">
                    1
                </div>
                <div class="sit" id="right_1_1">
                    1
                </div>
                <div class="sit" id="right_1_2">
                    2
                </div>
                <div class="hidden-div">
                    2
                </div>
                <div class="sit" id="right_1_8">
                    8
                </div>
                <div class="sit" id="right_1_3">
                    3
                </div>
                <div class="sit" id="right_1_7">
                    7
                </div>
                <div class="sit" id="right_1_4">
                    4
                </div>
                <div class="hidden-div">
                    3
                </div>
                <div class="sit" id="right_1_6">
                    6
                </div>
                <div class="sit" id="right_1_5">
                    5
                </div>
                <div class="hidden-div">
                    4
                </div>
                <div class="centered_table">

                </div>
            </div>
            <div class="table2">
                <div class="hidden-div">
                    1
                </div>
                <div class="sit" id="right_2_1">
                    1
                </div>
                <div class="sit" id="right_2_2">
                    2
                </div>
                <div class="hidden-div">
                    2
                </div>
                <div class="sit" id="right_2_8">
                    8
                </div>
                <div class="sit" id="right_2_3">
                    3
                </div>
                <div class="sit" id="right_2_7">
                    7
                </div>
                <div class="sit" id="right_2_4">
                    4
                </div>
                <div class="hidden-div">
                    3
                </div>
                <div class="sit" id="right_2_6">
                    6
                </div>
                <div class="sit" id="right_2_5">
                    5
                </div>
                <div class="hidden-div">
                    4
                </div>
                <div class="centered_table">

                </div>
            </div>
        </div>

        <div id="welcome_area">
            Welcome area
        </div>
    </div>
</div>