<div class="container">
    <section id="features">
        <div class="polaroid">
            <img class="polaroid-img" src="./materials/banner3.jpg" alt="table-img">
            <div class="polaroid-container">
                <p>Plan table arrangement</p>
                <i class="fa fa-map-marker"></i>Location layout
            </div>
        </div>

        <div class="polaroid">
            <img class="polaroid-img" src="./materials/table_arrangement.jpg" alt="suport-img">
            <div class="polaroid-container">
                <p>Continuous technical assistance</p>
                <i class="fa fa-cogs"></i>Suport
            </div>
        </div>

        <div class="polaroid">
            <img class="polaroid-img" src="./materials/banner2.jpg" alt="to_do-img">
            <div class="polaroid-container">
                <p>Plan ahead, don`t be surprised!</p>
                <i class="fa fa-check-square-o"></i>Make TO DOs
            </div>
        </div>

        <div class="polaroid">
            <img class="polaroid-img" src="./materials/invitation.webp" alt="invitation-img">
            <div class="polaroid-container">
                <p>Make personalized invitations</p>
                <i class="fa fa-envelope-open-o"></i> Digital invitation
            </div>
        </div>

        <div class="polaroid">
            <img class="polaroid-img" src="./materials/guests.jpg" alt="guests-img">
            <div class="polaroid-container">
                <p>Receive guest confirmation</p>
                <i class="fa fa-bell"></i>Guest notification
            </div>
        </div>

        <div class="polaroid">
            <img class="polaroid-img" src="./materials/calendar1.jpeg" alt="calendar-img">
            <div class="polaroid-container">
                <p>Time track everything</p>
                <i class="fa fa-calendar-plus-o"></i> Event Calendar
            </div>
        </div>
    </section>
</div>