<div class="container">
    <div class="rotit">
        <h1> FEATURED VIDEOS</h1>
    </div>

    <div class="prices">
        <table>
            <tr>
                <th>Subscription</th>
                <th>Pice</th>
                <th>Facilities</th>
            </tr>
            <tr>
                <td>ProMembership</td>
                <td>400$</td>
                <td>All</td>
            </tr>
            <tr>
                <td>Membership</td>
                <td>290$</td>
                <td>Half</td>
            </tr>
        </table>
    </div>

    <div id="color1">
        <div id="color2">
            <div id="color3">

            </div>
        </div>
    </div>

    <div class="div-flex">
        <div class="div-item" id="item1">
            1
        </div>
        <div class="div-item" id="item2">
            2
        </div>
        <div class="div-item" id="item3">
            3
        </div>
        <div class="div-item" id="item4">
            4
        </div>
    </div>
    
    <br>
    <button id="changeColor" class="button">Change color</button>

</div>